.container {
  font-family: "Times New Roman", Times, serif;
  margin: 2% 4% 2% 4%;
}
/*-------NavBar-----*/
.navBar {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.ul {
  list-style-type: none;
}

.li {
  display: inline-block;
}
/*---NEWSPAPER-----*/

.heading {
  border-bottom: 3px solid gray;
  font-size: 16vw;
  text-align: justify;
}

/*-----Row1-------*/
.row1 {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding: 3% 0% 3% 0%;
}

.row1-col1 {
  width: 40%;
}
.row1-col1 > p {
  font-weight: bolder;
  font-size: 19px;
  font-family: "Trirong", serif;
}
.row1-col1-paragraph {
  padding-top: 2%;
  line-height: 1.8;
  font-family: "Playfair Display", serif;
}
.row1-col2 {
  width: 60%;
  background-color: #e0e0e0;
}

/*-----Row2----*/
.row2 {
  border-top: 3px solid gray;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding: 3% 0% 3% 0%;
}

.row2-col1 {
  width: 40%;
  background-color: #e0e0e0;
}

.row2-col2 {
  width: 60%;
}

.row2-col2 > p {
  font-weight: bolder;
  font-size: 19px;
  font-family: "Trirong", serif;
}

/*-----Row3----*/
.row3 {
  border-top: 3px solid gray;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 300px) {
  .row3 {
    display: block;
  }
}
.row3 > div {
  line-height: 1.8;
  width: 30%;
}
