.container {
  font-family: "Times New Roman", Times, serif;
  margin: 2% 4% 2% 4%;
}
/*-------NavBar-----*/
.timeline {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.timeline__info {
  list-style-type: none;
}

.timeline__info__month {
  display: inline-block;
}
/*---NEWSPAPER-----*/

.header {
  border-bottom: 3px solid gray;
  font-size: 16vw;
  text-align: justify;
}

/*-----Row1-------*/
.news1 {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding: 3% 0% 3% 0%;
}

.news1__details {
  width: 40%;
}
.news1__details > p {
  font-weight: bolder;
  font-size: 19px;
  font-family: "Trirong", serif;
}
.news1__details__information {
  padding-top: 2%;
  line-height: 1.8;
  font-family: "Playfair Display", serif;
}
.news1__image {
  width: 60%;
  background-color: #e0e0e0;
}

/*-----Row2----*/
.news2 {
  border-top: 3px solid gray;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding: 3% 0% 3% 0%;
}

.news2__image {
  width: 40%;
  background-color: #e0e0e0;
}

.news2__details {
  width: 60%;
}

.news2__details > p {
  font-weight: bolder;
  font-size: 19px;
  font-family: "Trirong", serif;
}

/*-----Row3----*/
.newsBulletins {
  border-top: 3px solid gray;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 300px) {
  .newsBulletins {
    display: block;
  }
}
.newsBulletins > div {
  line-height: 1.8;
  width: 30%;
}
